<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ang Musik Perso</title>

</head>

<body>
  <div>
    <header>
      <nav class="navbar navbar-expand-lg  " style="background-color: #95f5c0;">
        <div class="container-fluid">
          <a routerLink="/" class="navbar-brand logo mx-4 my-3">MuzArt</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form">
              <a routerLink="/" routerLinkActive="active" class="btn btn-success mx-2">Home</a>
              <a routerLink="/login" routerLinkActive="active" class="btn btn-outline-success mx-2">Se connecter</a>
            </form>
          </div>
        </div>
        <span class="mx-5" style="color:rgb(20, 45, 46);">Time:<app-chronometre></app-chronometre></span>
      </nav>
    </header>
  </div>


  <main class="">

    <router-outlet />
  </main>

</body>

</html>
